<div>
    <div class="form-group">
        <label for="exampleInputEmail1">Ingrese la contrase&ntilde;a</label>
        <input type="learningType"
               class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               placeholder="Contrase&ntilde;a"
               data-bind="value: password">
        <small id="emailHelp"
               class="form-text text-muted">El profesor le proporcionar&aacute; la contrase&ntilde;a de inscripci&oacute;.
        </small>
    </div>
</div>