<div class="container">
    <div class="form-group" data-bind="foreach: user">
        <label>Nombre: </label>
        <input class="form-control" data-bind="textInput: name, disable: true"></input>
        <label>Correo electronico: </label>
        <input class="form-control" data-bind="textInput: email, disable: true"></input>
        <label data-bind="visible: userType.idUserType == 2">Tipo de aprendizaje: </label>
        <input class="form-control" data-bind="textInput: learningType, disable: true, visible: userType.idUserType == 2"></input>
    </div>
</div>